  .container {
      width: 1200px;
      min-width: 1200px;
      margin: 0 auto;
  }

  .hd-title {
      padding: 15px 0;
      overflow: hidden;
  }

  .hd-title .tit-bg {
      width: 98px;
      height: 30px;
      background: url(../../images/bookStore/readNum.png) no-repeat center center;
  }

  .hd-title .tit-bg a {
      display: inline-block;
      height: 100%;
      width: 100%;
  }

  .fl {
      float: left;
  }

  .rt {
      float: right;
  }

  .hd-title li {
      color: #B6B6B6;
      font-size: 20px;
  }

  .hd-title .line {
      padding: 0 20px;
  }

  .ban {
      position: relative;
      width: 100%;
      height: 260px;
      background: url(../../images/bookStore/ban2.png) no-repeat center center;
  }

  .ban-video {
      background: url(../../images/video/ban.png) no-repeat center center;
  }

  .ban-class {
      background: url(../../images/class/ban.png) no-repeat center center;
  }

  .ban-3d {
      background: url(../../images/3d/ban.png) no-repeat center center;
  }

  .ban-next {
      background: url(../../images/next/ban.png) no-repeat center center;
  }

  .ban .ban-text {
      position: absolute;
      left: 26%;
      top: 50%;
      margin-top: -35px;
      font-size: 46px;
      color: white;
  }

  .tabs {
      padding-top: 8px;
  }

  .tabs .tabs-box {
      max-width: 1920px;
      margin: 0 auto;
      border: 1px solid #E8E8E8;
  }

  .tabs ul {
      width: 660px;
      margin: 0 auto;
      overflow: hidden;
  }

  .tabs ul li {
      font-size: 18px;
      position: relative;
      line-height: 38px;
  }

  .tabs ul li a {
      color: #757575;
      text-decoration: none;
      display: block;
  }

  .tabs ul li a:hover {
      /* border-bottom:2px solid #4F8AFF; */
      color: #4F8AFF;
  }

  .tabs ul li .active {
      color: #4F8AFF;
      /* border-bottom:2px solid #4F8AFF; */
  }

  .tabs .midLi {
      margin: 0 220px;
  }

  .prob {
      overflow: hidden;
  }

  .prob h1 {
      color: #464646;
      font-size: 32px;
      font-weight: normal;
      padding-top: 50px;
      padding-left: 8px;
      border-top: 1px solid #E8E8E8;
  }

  .prob .pic {
      padding: 80px 0 90px;
      text-align: center;
  }

  .prob .list li {
      width: 490px;
      margin-bottom: 70px;
      height: 430px;
      position: relative;
  }

  .prob .list li h3 {
      color: #464646;
      font-size: 28px;
      font-weight: normal;
      position: relative;
      padding-left: 107px;
  }

  .prob .list li h3:before {
      content: '';
      position: absolute;
      left: 0;
      top: 3px;
      width: 93px;
      height: 33px;
      background: url(../../images/bookStore/icon1.png) no-repeat center center;
  }

  .prob .list .probLi2 h3:before {
      background-image: url(../../images/bookStore/icon2.png);
  }

  .prob .list .probLi3 h3:before {
      background-image: url(../../images/bookStore/icon3.png);
  }

  .prob .list .probLi4 h3:before {
      background-image: url(../../images/bookStore/icon4.png);
  }

  .prob2 .list .probLi1 h3:before {
      background-image: url(../../images/bookStore/iconP1.png);
  }

  .prob2 .list .probLi2 h3:before {
      background-image: url(../../images/bookStore/iconP2.png);
  }

  .prob2 .list .probLi3 h3:before {
      background-image: url(../../images/bookStore/iconP3.png);
  }

  .prob .list li p {
      color: #878787;
      font-size: 18px;
      line-height: 34px;
  }

  .prob .hd {
      padding-bottom: 13px;
  }

  .prob .Img {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -145px;
  }

  .prob .probLi2 .Img {
      margin-left: -103px;
  }

  .prob .probLi3 .Img {
      margin-left: -90px;
  }

  .prob .probLi4 .Img {
      margin-left: -100px;
  }

  .prob2 .probLi1 .Img {
      margin-left: -117px;
  }

  .prob2 .probLi2 .Img {
      margin-left: -117px;
  }

  .prob2 .probLi3 .Img {
      margin-left: -114px;
  }

  .video-con .prob .probLi1 .Img {
      margin-left: -106px;
  }

  .video-con .prob .probLi2 .Img {
      margin-left: -143px;
  }

  .video-con .prob .probLi3 .Img {
      margin-left: -131px;
  }

  .video-con .prob2 .probLi1 .Img {
      margin-left: -116px;
  }

  .video-con .prob2 .probLi2 .Img {
      margin-left: -107px;
  }

  .video-con .prob2 .probLi3 .Img {
      margin-left: -108px;
  }

  .class-con .prob .probLi1 .Img {
      margin-left: -153px;
  }

  .class-con .prob .probLi2 .Img {
      margin-left: -103px;
  }

  .class-con .prob .probLi3 .Img {
      margin-left: -136px;
  }

  .class-con .prob2 .probLi1 .Img {
      margin-left: -110px;
  }

  .class-con .prob2 .probLi2 .Img {
      margin-left: -146px;
  }

  .class-con .prob2 .probLi3 .Img {
      margin-left: -95px;
  }

  .d3-con .prob .probLi1 .Img {
      margin-left: -88px;
  }

  .d3-con .prob .probLi2 .Img {
      margin-left: -120px;
  }

  .d3-con .prob .probLi3 .Img {
      margin-left: -112px;
  }

  .d3-con .prob2 .probLi1 .Img {
      margin-left: -130px;
  }

  .d3-con .prob2 .probLi2 .Img {
      margin-left: -157px;
  }

  .next-con .prob .probLi1 .Img {
      margin-left: -92px;
  }

  .next-con .prob .probLi2 .Img {
      margin-left: -93px;
  }

  .next-con .prob .probLi3 .Img {
      margin-left: -77px;
  }

  .next-con .prob2 .probLi1 .Img {
      margin-left: -122px;
  }

  .next-con .prob2 .probLi2 .Img {
      margin-left: -152px;
  }

  .next-con .prob2 .probLi3 .Img {
      margin-left: -95px;
  }

  .prob2 {
      border-bottom: 1px solid #E8E8E8;
  }

  .app {
      padding-bottom: 40px;
  }

  .app p {
      color: #000000;
      font-size: 18px;
      padding-bottom: 5px;
  }

  .app h1 {
      padding-bottom: 60px;
  }

  .app .part-rt {
      padding-left: 14px;
  }

  .app .part-lf {
      padding-top: 6px;
  }

  .app li {
      margin-right: 120px;
      position: relative;
  }

  .video-app li {
      margin-right: 68px;
      position: relative;
  }
  /*.app .code img:hover{width:120px;position: absolute; right:0; top:0;}*/
