.header-wrap .header-bg,.header-wrap .header-box,.part-sec,.part-four,.part-five,.part-six {
    min-width: 1200px;
    width: 100%
}

.header-wrap .header,.part-sec .introduce-wrap,.part-four .introduce-wrap,.part-five .introduce-wrap,.part-six .introduce-wrap {
    width: 1200px;
    margin: 0 auto
}

.header-wrap {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 999
}

.header-wrap .header-bg,.header-wrap .header-box {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%
}

.header-wrap .header-bg {
    background: #fff;
    opacity: 0.2;
    fitler: alpha(opacity=20)
}

.header-wrap .header {
    height: 80px
}

.header-wrap .logo {
    float: left;
    width: 360px;
    height: 100%;
    text-indent: -9999px
}

.header-wrap .logo .logo-bg {
    display: block;
    width: 114px;
    height: 100%;
    background: url(../../images/index/icons/icon-logo.png) no-repeat left center
}

.header-wrap .header-right {
    float: left;
    height: 100%
}

.header-wrap .header-right .item {
    float: left;
    width: 150px
}

.header-wrap .header-right .item a {
    text-decoration: none
}

.header-wrap .header-right .item span {
    display: block;
    color: #fff;
    font-size: 18px;
    padding: 26px 0 8px;
    height: 30px;
    line-height: 30px;
    text-align: center
}

.header-wrap .header-right .item i {
    display: block;
    height: 8px;
    width: 8px;
    margin: 0 auto
}

.header-wrap .header-right .item:hover i {
    background: url(../../images/index/icons/icon-nav-hover.png) no-repeat center center
}

.header-wrap .header-right .item-selected i {
    background: url(../../images/index/icons/icon-nav-selected.png) no-repeat center center;
}
.header-wrap .header-right .item-selected:hover i {
    /*background: url(../../images/index/icons/icon-nav-selected.png) no-repeat center center;*/
}


.header-wrap-fixed .header-bg {
    background: #fff;
    fitler: alpha(opacity=90);
    opacity: 0.9;
    transition: width 2s;
    -moz-transition: width 2s; /* Firefox 4 */
    -webkit-transition: width 2s; /* Safari 和 Chrome */
    -o-transition: width 2s; /* Opera */
}

.header-wrap-fixed .header-right .item a {
    color: #6c91ff;
}

.header-wrap-fixed .header-right .item a span {
    color: #6c91ff;
}

.banner-wrapper {
    position: relative;
    z-index: 1;
    height: 820px;
    overflow: hidden;
    width: 100%
}

.banner-wrap {
    display: block;
    width: 100%;
    height: 820px;
    background: url(../../images/index/index-banner.jpg) no-repeat center center
}

.part-sec .introduce-wrap .introduce-tit {
    padding: 108px 0 100px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 38px;
    color: #333;
    font-weight: normal
}

.part-sec .introduce-detail {
    padding-bottom: 144px
}

.part-sec .introduce-detail .item {
    float: left;
    width: 300px;
    text-align: center
}

.part-sec .introduce-detail .item .img-box {
    height: 104px
}

.part-sec .introduce-detail .item h4 {
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    font-size: 26px;
    color: #666;
    font-weight: normal
}

.part-sec .introduce-detail .item p {
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    font-size: 16px;
    color: #878787;
}

.part-four .introduce-wrap .introduce-tit {
    padding: 136px 0 99px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 38px;
    color: #333;
    font-weight: normal
}

.part-four .introduce-detail {
    padding-bottom: 80px
}

.part-four .introduce-detail .item {
    overflow: hidden;
    float: left;
    width: 240px
}

.part-four .introduce-detail .item .item-inner {
    position: relative
}

.part-four .introduce-detail .item .img-box {
    height: 76px;
    text-align: center
}

.part-four .introduce-detail .item h4 {
    text-align: center;
    height: 54px;
    line-height: 54px;
    overflow: hidden;
    font-size: 24px;
    color: #292929;
    font-weight: normal
}

.part-four .introduce-detail .item p {
    text-align: center;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    font-size: 14px;
    color: #7e7e7e
}

.part-four .introduce-detail .item .line {
    padding-top: 25px;
    border-bottom: 2px solid #fff;
    width: 48px;
    margin: 0 auto
}

.part-four .introduce-detail .item:hover .line {
    border-bottom-color: #487ef7
}

.part-five .introduce-wrap .introduce-tit {
    padding: 131px 0 68px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 38px;
    color: #333;
    font-weight: normal
}

.part-five .introduce-detail {
    padding-bottom: 144px;
    padding-left: 159px
}

.part-five .introduce-detail .item {
    overflow: hidden;
    height: 62px
}

.part-five .introduce-detail .item a {
    float: left;
    height: 62px;
    width: 200px
}

.part-five .introduce-detail .line1 .img1 {
    background: url(../../images/index/logo-grey.png) no-repeat 0 0
}

.part-five .introduce-detail .line1 .img1:hover {
    background: url(../../images/index/logo-colorfull.png) no-repeat -3px 0
}

.part-five .introduce-detail .line1 .img2 {
    background: url(../../images/index/logo-grey.png) no-repeat -200px 0
}

.part-five .introduce-detail .line1 .img2:hover {
    background: url(../../images/index/logo-colorfull.png) no-repeat -200px 0
}

.part-five .introduce-detail .line1 .img3 {
    background: url(../../images/index/logo-grey.png) no-repeat -400px 0
}

.part-five .introduce-detail .line1 .img3:hover {
    background: url(../../images/index/logo-colorfull.png) no-repeat -400px 0
}

.part-five .introduce-detail .line1 .img4 {
    background: url(../../images/index/logo-grey.png) no-repeat -600px 0
}

.part-five .introduce-detail .line1 .img4:hover {
    background: url(../../images/index/logo-colorfull.png) no-repeat -600px 0
}

.part-five .introduce-detail .line1 .img5 {
    background: url(../../images/index/logo-grey.png) no-repeat -800px 0
}

.part-five .introduce-detail .line1 .img5:hover {
    background: url(../../images/index/logo-colorfull.png) no-repeat -800px 0
}

.part-five .introduce-detail .line2 .img1 {
    background: url(../../images/index/logo-grey.png) no-repeat 0 -62px
}

.part-five .introduce-detail .line2 .img1:hover {
    background: url(../../images/index/logo-colorfull.png) no-repeat 0 -62px
}

.part-five .introduce-detail .line2 .img2 {
    background: url(../../images/index/logo-grey.png) no-repeat -200px -62px
}

.part-five .introduce-detail .line2 .img2:hover {
    background: url(../../images/index/logo-colorfull.png) no-repeat -200px -62px
}

.part-five .introduce-detail .line2 .img3 {
    background: url(../../images/index/logo-grey.png) no-repeat -400px -62px
}

.part-five .introduce-detail .line2 .img3:hover {
    background: url(../../images/index/logo-colorfull.png) no-repeat -400px -62px
}

.part-five .introduce-detail .line2 .img4 {
    background: url(../../images/index/logo-grey.png) no-repeat -600px -62px
}

.part-five .introduce-detail .line2 .img4:hover {
    background: url(../../images/index/logo-colorfull.png) no-repeat -600px -62px
}

.part-five .introduce-detail .line2 .img5 {
    background: url(../../images/index/logo-grey.png) no-repeat -800px -62px
}

.part-five .introduce-detail .line2 .img5:hover {
    background: url(../../images/index/logo-colorfull.png) no-repeat -800px -62px
}

.part-five .introduce-detail .line3 .img1 {
    background: url(../../images/index/logo-grey.png) no-repeat 0 -124px
}

.part-five .introduce-detail .line3 .img1:hover {
    background: url(../../images/index/logo-colorfull.png) no-repeat 0 -124px
}

.part-five .introduce-detail .line3 .img2 {
    background: url(../../images/index/logo-grey.png) no-repeat -200px -124px
}

.part-five .introduce-detail .line3 .img2:hover {
    background: url(../../images/index/logo-colorfull.png) no-repeat -200px -124px
}

.part-five .introduce-detail .line3 .img3 {
    background: url(../../images/index/logo-grey.png) no-repeat -400px -124px
}

.part-five .introduce-detail .line3 .img3:hover {
    background: url(../../images/index/logo-colorfull.png) no-repeat -400px -124px
}

.part-five .introduce-detail .line3 .img4 {
    background: url(../../images/index/logo-grey.png) no-repeat -600px -124px
}

.part-five .introduce-detail .line3 .img4:hover {
    background: url(../../images/index/logo-colorfull.png) no-repeat -600px -124px
}

.part-five .introduce-detail .line3 .img5 {
    background: url(../../images/index/logo-grey.png) no-repeat -800px -124px
}

.part-five .introduce-detail .line3 .img5:hover {
    background: url(../../images/index/logo-colorfull.png) no-repeat -800px -124px
}

.part-five .introduce-detail .line4 .img1 {
    background: url(../../images/index/logo-grey.png) no-repeat 0 -186px
}

.part-five .introduce-detail .line4 .img1:hover {
    background: url(../../images/index/logo-colorfull.png) no-repeat 0 -186px
}

.part-five .introduce-detail .line4 .img2 {
    background: url(../../images/index/logo-grey.png) no-repeat -200px -186px
}

.part-five .introduce-detail .line4 .img2:hover {
    background: url(../../images/index/logo-colorfull.png) no-repeat -200px -186px
}

.part-five .introduce-detail .line4 .img3 {
    background: url(../../images/index/logo-grey.png) no-repeat -400px -186px
}

.part-five .introduce-detail .line4 .img3:hover {
    background: url(../../images/index/logo-colorfull.png) no-repeat -400px -182px
}

.part-five .introduce-detail .line4 .img4 {
    background: url(../../images/index/logo-grey.png) no-repeat -600px -186px
}

.part-five .introduce-detail .line4 .img4:hover {
    background: url(../../images/index/logo-colorfull.png) no-repeat -600px -194px
}

.part-five .introduce-detail .line4 .img5 {
    background: url(../../images/index/logo-grey.png) no-repeat -800px -186px
}

.part-five .introduce-detail .line4 .img5:hover {
    background: url(../../images/index/logo-colorfull.png) no-repeat -800px -196px
}

.part-six .introduce-wrap .introduce-tit {
    padding: 80px 0 134px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 38px;
    color: #333;
    font-weight: normal
}

.part-six .introduce-detail {
    position: relative;
    padding-bottom: 118px
}

.part-six .introduce-detail .unslider-arrow {
    position: absolute;
    top: 20px;
    height: 68px;
    width: 34px
}

.part-six .introduce-detail .al {
    left: -80px;
    background: url(../../images/index/icons/arrowl.png) no-repeat center center
}

.part-six .introduce-detail .al:hover {
    background: url(../../images/index/icons/arrowl-hover.png) no-repeat center center
}

.part-six .introduce-detail .ar {
    right: -80px;
    background: url(../../images/index/icons/arrowr.png) no-repeat center center
}

.part-six .introduce-detail .ar:hover {
    background: url(../../images/index/icons/arrowr-hover.png) no-repeat center center
}

.part-six .introduce-detail li {
    float: left
}

.part-six .introduce-detail .item {
    float: left;
    overflow: hidden;
    width: 300px;
    height: 102px
}

.part-six .introduce-detail .item .item-left {
    float: left;
    width: 96px;
    height: 96px;
    margin-right: 15px;
    padding-top: 6px
}

.part-six .introduce-detail .item .item-left img {
    display: block
}

.part-six .introduce-detail .item .item-right {
    float: left;
    width: 185px;
    height: 96px
}

.part-six .introduce-detail .item .item-right p {
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 6px;
    color: #000
}

.part-six .introduce-detail .item .item-right .ewm {
    display: block
}


/*未用sass 写css*/
.header-wrap-fixed .logo .logo-bg{
    background: url(../../images/index/icons/icon-logo-scroll.png) no-repeat left center;
}

.header-wrap-fixed .header-right .item:hover i {
    background: url(../../images/index/icons/icon-nav-hover-fixed.png) no-repeat center center;
}
.header-wrap-fixed .header-right .item{
    color:#6c91ff;
}

.header-wrap-fixed .header-right .item-selected i {
    background: url(../../images/index/icons/icon-nav-selected-fixed.png) no-repeat center center;
}

.header-wrap-fixed .header-right .item-selected:hover i {
    background: url(../../images/index/icons/icon-nav-selected-fixed.png) no-repeat center center;
}
.header-wrap-fixed .header-right .item-selected span {
    font-weight: bold;
    color: #4c79ff;
}


#js-sider-wrap{
    width: 1200px;
}
.part-six .introduce-detail li{
    width:1200px;
}
/* part-three */
.part-three{
    width: 100%;
}

.part-three  .swipe{
    overflow: hidden;
    /*visibility: hidden;*/
    position: relative;
    width: 100%;
    max-width: 1920px;
    min-width: 1200px;
    margin: 0 auto;
}
.part-three .swipe-wrap{
    overflow: hidden;
    position: relative;
    /*max-height: 700px;*/
}
.part-three .swipe-wrap li{
   float: left;
   width: 100%;
   position: relative;
}
.part-three .swipe-wrap li img{
   display: block;
   margin:0 auto;
   width: 100%;
}
/* nav 部分*/
.part-three .swipe .nav{
    position: absolute;
    top: 190px;
    left: 50%;
    margin-left: -460px;
}
.part-three  .nav h3{
    height:60px;
    line-height:60px;
    font-size:38px;
    color:#fff;
    text-align: center;
    padding-bottom: 60px;
    font-weight: normal;
}
.part-three  .nav .nav-box{
    width:920px;
    margin: 0 auto;
}
.part-three  .nav-box li{
    float: left;
    width:184px;
    text-align: center;
}
.part-three  .nav-box li a{
    text-decoration: none;
}
.part-three  .nav-box li img{
    display: block;
    margin:0 auto;
    width:100%;
}
.part-three  .nav-box li i{
    display:inline-block;
    height: 72px;
    width: 72px;
}
.part-three  .nav-box li p{
    height:30px;
    line-height:30px;
    font-size:16px;
    color:#fff;
    padding: 10px 0;
}
.part-three .icon1 i{
    background: url(../../images/index/icons/icon-lunbo1.png) no-repeat center center
}
.part-three .icon1.cur i{
    background: url(../../images/index/icons/icon-lunbo1-hover.png) no-repeat center center
}
.part-three .icon2 i{
    background: url(../../images/index/icons/icon-lunbo2.png) no-repeat center center
}
.part-three .icon2.cur i{
    background: url(../../images/index/icons/icon-lunbo2-hover.png) no-repeat center center
}
.part-three .icon3 i{
    background: url(../../images/index/icons/icon-lunbo3.png) no-repeat center center
}
.part-three .icon3.cur i{
    background: url(../../images/index/icons/icon-lunbo3-hover.png) no-repeat center center
}
.part-three .icon4 i{
    background: url(../../images/index/icons/icon-lunbo4.png) no-repeat center center
}
.part-three .icon4.cur i{
    background: url(../../images/index/icons/icon-lunbo4-hover.png) no-repeat center center
}
.part-three .icon5 i{
    background: url(../../images/index/icons/icon-lunbo5.png) no-repeat center center
}
.part-three .icon5.cur i{
    background: url(../../images/index/icons/icon-lunbo5-hover.png) no-repeat center center
}

.scroll-text{
    position: absolute;
    left:0;
    bottom:0;
    color:white;
    z-index:100000;
}
.scroll-text li{display: none;}
.scroll-text .no1{display: block;}


.part-bottom{
    min-width: 1200px;
    width: 100%;
    background: #000;
}
.part-bottom  .introduce-wrap{
    width: 1200px;
    margin: 0 auto
}
.part-bottom .site-info{
    padding-top: 11px;
    padding-bottom: 12px;

}
.part-bottom .site-info-top{
    text-align: center;
    font-size:16px;
    color:#fff;
    height: 32px;
    line-height: 32px;
}
.part-bottom .site-info-top p{
  display: inline-block;
}
.part-bottom .first-line{
    padding:0 66px 0 31px;
}
.part-bottom .sec-line{
    padding:0 31px 0 66px;
}
.part-bottom .icon-sina{
    display: inline-block;
    vertical-align: bottom;
    height:30px;
    width:30px;
    background: url(../../images/index/icons/icon-sina.png) no-repeat center center
}
.site-info-bottom{
    text-align: center;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    color:#fff;
}

.banner-wrapper .info{
    position: absolute;
    top:187px;
    width: 100%;
}
.banner-wrapper .info h3{
    text-align: center;
    height:114px;
    line-height:114px;
    font-size:76px;
    color:#fff;
    font-weight: normal;
    text-indent: 50px;
}
.banner-wrapper .info p{
    letter-spacing: 10px;
    text-indent: 60px;
    text-align: center;
    height:62px;
     line-height:62px;
     font-size:36px;
     color:#fff;
}

.part-five .grey-color-layer{
	max-width:1920px;
            margin: 0 auto;
            background:#f6f9fc;
}

/* sidebar */
.cxgb-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 101;
    height: 100%;
    font: 14px/1.5 Helvetica,Arial,"Microsoft YaHei",Heiti,SimSun,sans-serif;
    font-size: 12px;
    color: #333
}

.cxgb-sidebar a {
    color: #999
}

.cxgb-sidebar a:hover {
    color: #03a9f4
}

.cxgb-sidebar li {
    float: left;
    position: relative;
    width: 60px;
    height: 60px;
}

.cxgb-sidebar .tit {
    display: block;
    position: relative;
    z-index: 1;
     width: 60px;
    height: 60px;
    color: #fff
}

.cxgb-sidebar .tit:hover {
    color: #fff
}

.cxgb-sidebar .tit:hover i {
    background-color: #03a9f4
}

.cxgb-sidebar .tit:hover .txt {
    left: -60px;
    background-color: #03a9f4
}

.cxgb-sidebar .tit i {
    position: relative;
    z-index: 2;
    overflow: hidden;
    cursor: pointer;
    display: block;
    border-radius: 3px 0 0 3px;
    background-color: #333
}

.cxgb-sidebar .txt {
    position: absolute;
    top: 0;
    left: 35px;
    z-index: 1;
    width: 62px;
    height: 35px;
    background-color: #333;
    text-align: center;
    line-height: 35px;
    border-radius: 3px 0 0 3px;
    -webkit-transition: left .3s ease-in-out .1s;
    transition: left .3s ease-in-out .1s
}

.side-abs {
    position: fixed;
    bottom: 150px;
    right: 0;
    width: 60px;
    color: #fff
}

.side-abs li {
    margin-bottom: 1px
}

.side-abs .icon-client {
     width: 60px;
    height: 60px;

    background: url(../../images/index/icon-service.jpg) no-repeat 0 0;
}


.side-abs .advice {
    display: block
}

.side-abs .icon-advice {
     width: 60px;
    height: 60px;
    background-position: 0 -12px
}

.side-fix {
    position: fixed;
    right: 0;
    bottom: 50px;
    width: 60px;
    color: #fff
}

.side-fix li {
    display: none;
    margin-top: 1px
}

.side-fix .backtoTop {
    display: none
}

.side-fix .icon-top {
     width: 60px;
    height: 60px;
    background: url(../../images/index/icon-gotop.jpg) no-repeat 0 0;
}

.weixin-bd .close {
    position: absolute;
    right: 17px;
    top: 9px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-position: 0 -127px
}

.weixin-bd .close:hover {
    width: 30px;
    height: 30px;
    background-position: 0 -92px
}

.weixin-bd .weixin-item {
    float: left;
    margin-right: 10px
}

.weixin-bd .th {
    color: #999;
    line-height: 30px
}

.weixin-bd .a-btn {
    margin-top: 9px;
    display: block;
    width: 120px;
    height: 36px;
    border-radius: 3px;
    background-color: #03a9f4;
    overflow: hidden;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 36px
}

.weixin-bd .a-btn:hover {
    background-color: #03a9f4;
    text-decoration: none;
    color: #fff
}

.weixin-bd .a-btn i {
    display: inline-block;
    *display: inline;
    *zoom:1;width: 5px;
    height: 7px;
    background-position: 0 0;
    margin-left: 10px;
    vertical-align: middle
}

.im-bd .tb {
    width: 120px;
    color: #666;
    line-height: 24px
}

.im-bd dd {
    height: 72px;
    border: 1px solid #e5e5e5;
    border-width: 1px 0
}

.im-bd strong {
    display: block;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap
}

.im-bd .time {
    margin-top: -5px
}
